{% extends "auctions/layout.html" %}


{% block body %}
<h6>Select 
    <form action="{% url 'category' %}" method="post">
    {% csrf_token %}
    {{categories}}
    <input type="submit" value="Search">
    </form>
</h6>
<div class="little_flex">
    {% for active in actives %}
    <div class="little_container">
    <a href="{% url 'listing_page' active.item_id %}">

        <img class="little_img"  src="{{ active.img_url }}" alt="little img">
        <div class="little_content">
            <h3>{{active.title}}</h3>
            <hr>
            <h6>Category: {{active.category}}</h6>
            <hr>
            <h6>Corrent BID:
                <!-- set Current Value -->
                {% for bid__max in bids %}
                    {% if bid__max.item_id == active.item_id%}
                        {{ bid__max.bid__max }}
                    {% endif %}
                {% endfor %}
            </h6>
            <span>Start bid: {{active.start_bid}}</span>
        </div>
    </a>
    </div>       
    {% endfor %}
</div>
{% endblock %}
